body {
    padding: 0;
    margin: 0;
    background: var(--color-secondary);
  }
  
  #container {
    padding: 2% 15% 0 15%;
  }
  @media only screen and (max-width: 600px) {
    #container {
      padding: 0;
    }
  }
  
  .card {
    width: 100%;
    border: 3px;
    box-shadow: 1.5px 1.5px #bbbbbb;
    background-color: #ebebeb;
  }
  
  .hero-text {
    color: var(--font-color);
  }
  
  .grid-container {
    display: flex;
    grid-template-columns: 1 1 1;
    gap: 10px;
  }
  /* @media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 100% 100% 100%;
    }
  } */
  
  .grid-item {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    gap: 10px;
  }
  
  .card > h3 {
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: var(--font-color);
    background-color: var(--color-primary);
  }
  
  .add-to-cart {
    padding: 10px 15px 10px 15px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    color: var(--color-primary);
    box-shadow: 1px 1px #bbbbbb;
    border: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: box-shadow 0.4s;
  }
  
  .btn-chng {
    padding: 5px 25px 5px 25px;
    color: var(--color-primary);
    box-shadow: 1px 1px #bbbbbb;
    border: 0;
    background-color: whitesmoke;
    -webkit-transition: box-shadow 0.4s;
  }
  
  .btn-chng1 {
    padding: 0;
    color: var(--color-primary);
    box-shadow: 1px 1px #bbbbbb;
    border: 0;
    background-color: whitesmoke;
    -webkit-transition: box-shadow 0.4s;
  }
  
  .btn-chng:hover,
  .add-to-cart:hover {
    background-color: var(--color-primary);
    color: var(--font-color);
    box-shadow: 2px 2px #888888;
    transition: 0.5s;
  }
  
  .grid-container-2 {
    display: grid;
    grid-template-columns: 14% 20% 10% 10% 10% auto 24%;
    gap: 5px;
    margin-bottom: 20px;
    border: #000000;
  }
  
  .grid-container-2 > div {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: var(--font-color);
  }
  
  .deleteBtn {
    padding: 5px 35px 5px 35px;
    text-align: "center";
    color: var(--font-color);
    box-shadow: 0.5px 1px #888888;
    border: 0;
    background-color: var(--color-primary);
    -webkit-transition: box-shadow 0.6s;
  }
  
  .hero-btn {
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    border: 0;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-left: 32%;
    color: var(--font-color);
    background: var(--color-primary);
    -webkit-transition: transform 0.3s;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .hero-btn:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
  
  .theme-light {
    --color-primary: #62c0ff;
    --color-secondary: #f9f9fa;
    --color-accent: #505050;
    --font-color: #000000;
  }
  .theme-dark {
    --color-primary: #7447ee;
    --color-secondary: #1d1d1d;
    --color-accent: #696969;
    --font-color: #ffffff;
    animation: theme-dark 0.4s;
  }
  
  @keyframes theme-dark {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .switch {
    position: absolute;
    display: flexbox;
    width: 60px;
    height: 34px;
    margin-top: 33px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url("./assets/shoes2.jpg");
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #a3aaaf;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .added {
    color: white;
    background-color: grey;
    padding: 10px 15px 10px 15px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 1px 1px #bbbbbb;
    border: 0;
  }
  